.nav{
color:rgb(170, 4, 170);
margin: 0;
text-shadow: 1px 3px 8px red;
}
  .nav-button{
  margin-left: 800px;
  }
  .h2{
    text-align: center;
  }
  img{
    position: relative;
  }
  .logout{
    position: absolute;
   top:0;
   margin-left: 570px;
   margin-top: 20px;
  }
  .message{
    position: absolute;
    top:0;
  }

  